.button {
    background: none;
    border-radius: 6px;
    border: 3px solid #8B62FF;
    color: #8B62FF;
    padding: 12px 32px;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    display: block;
    width: fit-content;
}

.button:hover {
    background-color: #8B62FF;
    color: #080D18;
}

.button.disabled {
    cursor: not-allowed;
}

.button.disabled:hover {
    background: none;
    color: #8B62FF;
}