.projectArticle {
  width: 240px;
  border-radius: 7px;
  background-color:#4D4D4D;
  padding: 16px;
  box-sizing: border-box;
  /* text-align: left;
  color: #8B62FF;
  margin: 50px 0; */
  background-color: #7DFFD1;
  
  display: flex;
  flex-direction: column;
  gap: 16px;

}

.projectImg {
  /* float: left; 
  margin: 20px;
  clear: both; */
  display: block;
  border-radius: 7px;

}


.projectHeading {
  margin: 0;
  color: #8B62FF;
}

.projectParagraph {
  margin: 0;
  color: #8B62FF;
}

.projectButton {

}