.navbar {
    width: 411px;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    margin: auto;
    

}

.navbar a {
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-color: rgba(1,1,1,0);
    cursor: pointer;
    color: #FFFF;
    text-decoration: none;
    font-family: Inter;
}

.navbar a:hover {
    border-bottom-color: #8B62FF;
}

