.app {
  display: flex;
}

body {
  background-color: #080D18;
  padding: 32px;
  font-family: Inter;
}

section {
  color: white;
  width: 504px;
  margin:  48px auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 16px;
  
}

.SectionHeader {
  color: white;
  font-size: 36px;
  font-weight: 700;
  line-height: 43.57px;
  text-align: left;
  margin: 0px;
  width: 504px;
}

section p {

  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;
  margin: 0px;
  width: stretch;
}

.contactSection a {
  color: white;
  text-decoration: none;
}

.contactP * {
  display: block;
}

.contactP a{
  display: flex;
  gap: 1rem;
  align-items: center;
}